{% extends 'base.html' %}

{% block title %}Просмотр свободных лицензий{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>
                Фильтры:
            </h2>
        </div>
        <div class="col-sm-3" style="background-color: rgb(242, 242, 242)">
            <h6>
                Примененные фильтры:
            </h6>
            <ul>
                {% if select_site != 'on' and select_site != 'all' %}
                    <li>Сайты: {{ select_site }}</li>
                {% endif %}
                {% if select_lic_name != 'on' and select_lic_name != 'all' %}
                    <li>Лицензии: {{ select_lic_name }}</li>
                {% endif %}
            </ul>

        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-3">
            <form action="{% url 'view_free_licenses' %}" method="get">

                <h5>Сайты:</h5>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="select_menu1"
                        tabindex="1">
                    <option value="all">Все</option>
                    {% for site in sites %}
                        <option value="{{ site }}">{{ site }}</option>
                    {% endfor %}
                </select>
                <br>

                <h5>Лицензии:</h5>

                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="select_menu2">
                    <option value="all">Все</option>
                    {% for name in lic_names %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Добавить</button>
            </form>
        </div>

        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">САЙТ</th>
                    <th scope="col">НАЗВАНИЕ ЛИЦЕНЗИИ</th>
                    <th scope="col">СВОБОДНЫЕ АВТОРЫ</th>
                    <th scope="col">СВОБОДНЫЕ КОНСЬЮМЕРЫ</th>
                </tr>
                </thead>

                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td>{{ item.site }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.difference_author }}</td>
                        <td>{{ item.difference_consumer }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}